body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Background color for all pages */
    color: black; /* Text color */
}

header,
footer {
    background-color: #ffffff; /* Header and footer color for all pages */
    color: #1f2937;
    text-align: center;
    padding: 1em;
    border-radius: 15px; /* Increased roundness for a polished look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #1f2937;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #FFD700; /* Hover color - Gold */
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px; /* Slightly rounded corners for sections */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    cursor: pointer;
    margin: 0 10px; /* Add some margin between logos */
}