body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Background color for all pages */
    color: black; /* Text color */
}

header {
    background-color: #ffffff; /* Header color for all pages */
    color: #1f2937;
    text-align: center;
    padding: 1em;
    border-radius: 15px; /* Increased roundness for a polished look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #1f2937;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffc400; /* Hover color - Gold */
}

.hero-image {
    /* Style the hero image container */
    position: relative;
    background-color: #ccc; /* Placeholder background color */
    height: 300px; /* Adjust the height based on your content */
    /* Add more styling as needed for your hero image */
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white box */
    padding: 20px;
    border-radius: 10px;
}

#proverbs-list {
    max-width: 800px;
    margin: 20px auto;
}

.proverbs-box {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px; /* Slightly rounded corners for the box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
}

footer {
    background-color: #ffffff; /* Footer color for all pages */
    color: #1f2937;
    text-align: center;
    padding: 1em;
    border-radius: 15px; /* Increased roundness for a polished look */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Existing CSS styles remain unchanged */

footer img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    cursor: pointer;
}

